* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
}
:root {
    --red-color: #e52f37;
    --roboto: 'Roboto Flex', sans-serif !important;
    --nunito: 'Nunito', sans-serif !important;
    --open: 'Open Sans', sans-serif !important;
    --blue: #1e90ff;
    --green: #27b36a;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
p {
    font-size: 17px;
    line-height: 28px;
    font-weight: 400;
    color: #7c8595;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}
.color_white{
    color: white;
}
.width_60pt {
    width: 60%;
}
.text_center {
    text-align: center;
}
.space_between {
    justify-content: space-between;
}
.align_items_center {
    align-items: center;
}

.main {

}
header {
    font-family: var(--nunito);
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 999;
    width: 100%;
    background-color: white;
    position: fixed;
}
.left {
    color: var(--red-color);
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
}
.right {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.left_text {
    text-align: center;
    font-family: 'Nunito', sans-serif !important;
    font-size: 28px;
}
.right_text, .left_text{
    padding: 30px;
}
.right_text button{
    padding: 15px 30px;
    border-radius: 50px;
    border: 0.3px solid var(--red-color);
    color: white;
    background-color: var(--red-color);
    transition: 0.4s;
    font-size: 17px;
}
.right_text {
    transition: 0.4s;
    text-decoration: none;
    font-size: 17px;
    color: rgb(21, 19, 19);
}
.right_text:hover {
    color: var(--red-color);
}
.right_text.right_text-input button:hover{
    color: var(--red-color);
    background-color: white;
    cursor: pointer;
}
.home_section {
    position: relative;
    background-size: cover;
    width: 100%;
}
.home_section_overlay {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: black;
    opacity: 0.5;
}
.home_section_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 200px 200px 110px 200px;
    flex-wrap: wrap;
}
.home_section-left {
    flex: 1;
}
.home_section-right {
    flex: 1;
}
.home_section-left, .home_section-right {
    z-index: 1;
    margin-right: 70px;
    margin-left: 130px;
}
h1 {
    font-size: 45px;
    font-family: 'Nunito', sans-serif !important;
    line-height: 1.2;
    margin-bottom: 20px;
}
.home_section-left-text{
    font-size: 20px;
    text-align: justify;
    margin-bottom: 35px;
    font-family: 'Open Sans', sans-serif;
}
.home_section-left-icon{
    color: var(--red-color);
    width: 60px;
    height: 60px;
    background-color: white;
    display: inline-block;
    border-radius: 50px;
    transition: 0.6s;
    position: relative;
    border: 1px solid white;
    text-decoration: none;
}
.home_section-left-icon::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    animation: circle1 1.9s infinite;
    border: 0.3px solid white;
    background-color: transparent;
    right: -3%;
    top: -3%;
    border-radius: 50px;
}
.home_section-left-icon:hover {
    color: white;  
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
}
@keyframes circle1 {
    0% {-webkit-transform: scale(1, 1); opacity: 0.0;}
   50% {opacity: 0.55;}
   100% {-webkit-transform: scale(1.3, 1.3); opacity: 0.0;}
}
.fa-solid.fa-play {
    display: flex;
    justify-content: center;
    transform: translateY(50%);
    font-size: 27px;
}
.home_section-left-text1 {
    text-decoration: underline;
    display: inline-block;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 20px;
    transform: translateY(10px);
}
.home_section-right_box {
    background-color: white;
    padding: 40px;
    transform: translateY(5%);
    border-radius: 5px;
    width: 80%;
}
h3 {
    font-family: var(--nunito);
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 5px;
}
.home_section-right-text {
    font-family: var(--open);
    margin-bottom: 25px;
}
.home_section-right-terms {
    font-family: var(--open);
}

.home_section-right-input {
    display: block;
    width: 100%;
    height: 52px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
    background-color: #f9f9f9;
    font-size: 17px;
    color: #555;
    padding-left: 11%;
}
.home_section-right-input:focus {
    border-color: #656565   ;
    color: #454545;
    outline: none;
}
.right_box-icon1, .right_box-icon2, .right_box-icon3 {
    position: relative;
    font-size: 17px;
}
.fa-solid.fa-user, .fa-solid.fa-envelope {
    position: absolute;
    top: 35%;
    left: 4%;
    font-weight: 100;
    color: #929292;
}
.fa-solid.fa-pen {
    position: absolute;
    top: 35%;
    left: 4%;
    color: #929292;
}
.right_box-input {
    width: 100%;
    padding: 16px 0;
    font-size: 14px;
    font-weight: 700;
    color: white;
    background-color: var(--red-color);
    border: none;
    text-transform: uppercase;
    font-family: inherit;
    border-radius: 5px;
    transition:  .6s;
}
.right_box-input:hover {
    background-color: #27b36a;
    cursor: pointer;
}
.home_section-right-terms {
    margin: 10px 0 5px;
    font-size: 14px;
    font-family: var(--open);
    opacity: 0.7;
}
.partners {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 40px;
    flex-wrap: wrap;
}
.partners_text {
    font-size: 18px;
    font-family: var(--nunito);
    margin: 0 15px 20px 0;
    font-weight: 700;
}
.partners_img {
    max-height: 55px;
    margin: 10px 15px;
    opacity: 0.4;
    transition: 0.6s;
}
.partners_img:hover {
    opacity: 1;
}
.section_grey {
    padding: 90px 0 100px;
    background-color: #f1faff;
}
.section_grey-text {
    margin-bottom: 10px;
}
.section_title {
    font-family: var(--nunito);
    font-size: 38px;
    margin-bottom: 10px;
}
.section_subtitle {
    font-family: var(--open);
    font-size: 18px;
    opacity: 0.6;
    margin-bottom: 20px;
}
.row {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    padding-top: 10px;
}
/* .row_icon {
    position: relative;

} */
.far.fa-chart-bar,
.far.fa-heart,
.fas.fa-anchor {
    /* position: absolute; */
    padding: 12px 16px;
    color: white;
    border-radius: 15px;
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 15px;

}
.row_left, .row_right, .row_center { 
    transition: 0.6s;
}
.row_left:hover, .row_right:hover, .row_center:hover {
    transform: scale(1.025);
}
.far.fa-chart-bar {
    background-color: #1e90ff;
}
.far.fa-heart {
    background-color: #e52f37;
}
.fas.fa-anchor {
    background-color: #27b36a;
}

.row_left, .row_center, .row_right {
    width: 23%;
    margin: 10px 15px;
}
h4 {
    font-family: var(--nunito);
    font-size: 21px;
    margin-bottom: 10px;
}
.row-text {
    font-family: var(--open);
    font-size: 17px;
    opacity: 0.7;
    line-height: 1.6;
}
.section_white {
    padding: 90px 0 100px;
}
.box_img {
    flex: 1;
    padding: 0 15px;
}
.box_content {
    display: inline-block;
    flex: 1;
    padding: 0 15px;
}
.box_content-theme {
    font-size: 32px;
    font-weight: 700;
}
.benefits {
    line-height: 1.6;
    font-size: 17px;
    font-family: var(--open);
    color: #858585;
    list-style-type: none;
}
.fa-solid.fa-check {
    color: var(--red-color);
    font-size: 20px;
    opacity: 1 !important;
    padding-right: 4px;
    line-height: 18px;
}
li {
    margin-bottom: 8px;
}
.right_text.input_benefits {
    padding: 0;
}
.right_text.input_benefits button:hover {
    box-shadow: 0px 4px 10px 0 rgb(0 0 0 / 50%);
    cursor: pointer;
}
.box_content_features {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f4f5f6;
    transition: 0.6s;
}
.box_content_features:nth-child(1) {
    background-color: white;
}
.box_content_features:hover {
    background-color: white;
}
.dropcaps-circle {

}
.fa-solid.fa-chart-line,
.fa-solid.fa-network-wired,
.fa-solid.fa-rocket{
    font-size: 40px;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}
.fa-solid.fa-chart-line {
    color: var(--blue);
}
.fa-solid.fa-network-wired {
    color: var(--red-color);
}
.fa-solid.fa-rocket {
    color: var(--green);
}
.box_content_features-text {
    font-size: 17px;
    font-family: var(--open);
    line-height: 1.6;
    color: #7c8595;
}
.box_img img{
    border-radius: 8px 8px;
    box-shadow: 10px 12px 40px rgb(0 0 0 / 20%);
}
.section-bg1 {
    width: 100%;
    position: relative;
    height: 454px;
}
.section-bg-overlay {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--red-color);
    opacity: 0.95;
}
.section-bg-overlay_box {
    margin: auto;
}
.section-bg-overlay_box h2{
    margin-bottom: 20px;
    font-size: 38px;
    font-family: var(--nunito);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 110px 0 15px 0;
}
.facts-box {
    color: white;
    width: 15%;
}
.fa-solid.fa-gem,
.fa-solid.fa-heart,
.fa-solid.fa-award,
.fa-solid.fa-anchor {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 45px;
    line-height: 60px;
}
.fa-solid.fa-gem,
.fa-solid.fa-heart {
    font-weight: 100;
}
.fact-box-text {
    text-align: center;
    font-size: 16px;
    font-family: var(--open);
}
.fact-box-text span {
    display: block;
    font-size: 28px;
    font-weight: 900;
}
.col-5 h2 {
    font-size: 38px;
    font-family: var(--nunito);
    margin-bottom: 20px;
}
.col-5 p {
    font-size: 17px;
    font-family: var(--open);
    margin-bottom: 20px;
    line-height: 28px;
    color: #7c8595;
}
.testim-flatfrom p {
    color: black;
    font-weight: 800;
    margin-bottom: 5px;
}
.testim-flatfrom-right {
    padding: 0 15px;
}
.testim-flatfrom-left {
    padding-right: 15px;
    margin-right: 15px;
    display: block;
    border-right: 1px solid #cecece;
}
.fa-solid.fa-star,
.fas.fa-star-half-alt {
    color: #fdcc28;
}
.fa-solid.fa-star.weight {
    font-weight: 100;
}
.card {
    margin: 20px 0;
    box-shadow: 5px 5px 15px rgb(0 0 0 / 10%);
}
.card-body {
    padding: 20px 25px 5px 25px;
    border-top: none;
    border-left: 6px solid #27b36a;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #7c8595;
    font-style: italic;
    display: none;
}
.card-header {
    max-width: 100%;
    position: relative;
    padding: 15px 25px;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: none;
    border-left: 6px solid #27b36a;
}
.testim-img {
    float: left;
    margin-right: 15px;
    max-width: 65px;
    border-radius: 50%;
}
.testim-name {
    font-size: 18px;
    font-weight: 700;
    color: #071e55;
    margin-top: 15px;
}
.testim-name span {
    color: #27b36a;
}
.btn-link {
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    padding: 6px 12px;
    width: 100%;
    text-align: left;
}
.right.col-4 {
    display: inline-block;
}
.col-4 img {
    padding: 10px;
}
.col-4 .big-block:hover .small-block{
    opacity: 0.8;
    transform: 0.5s;
}
.center.col-4 img {
    padding: 0 5px;
}
.big-block {
    position: relative;
}
.small-block {
    position: absolute;
    right: 5%;
    top: 5%;
    left: 5%;
    bottom: 7%;
    background-color: var(--red-color);
    opacity: 0;
    transition: 0.4s;
}
.fa-solid.fa-magnifying-glass-plus {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 34px;

}
.team {
    padding: 0 15px;
    margin-top: 30px;
}
.team-item {
    padding: 10px 25px 30px 25px;
    background-color: #fff;
    border: 1px solid #e5efff;
    border-top: none;
    text-align: center;
    transition: all 1s;
    border-radius: 0 0 8px 8px;
}
.team-info p {
    color: #acacac;
    font-style: italic;
}
.team-info::after {
    background: #e52f37;
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 50px;
    height: 3px;
    margin-top: -20px;
}
.img-leader-team {
    padding: 0 !important;
    vertical-align: middle;
    border-radius: 8px 8px 0 0;
}